body {
  font-family: Arial;
  margin: 0;
}

body > * {
  padding: 1em;
}

body > header,
body > footer {
  background: black;
}

nav,
main,
body > footer div {
  max-width: 900px;
  margin: 0 auto;
}

nav,
main footer,
body > footer div,
address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  color: silver;
}

nav,
span,
address {
  font-style: normal;
  font-size: smaller;
}

nav a,
body > footer a {
  font: bold 0.875rem Verdana;
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

nav a:hover,
body > footer a:hover {
  filter: brightness(2);
}

nav a:first-child,
a#comment {
  margin-right: 1rem;
}

body > header img,
body > header svg,
footer svg {
  display: block;
}

[href="/blog"] {
  margin-right: auto;
}

main,
span {
  color: #333;
}

main header {
  text-align: center;
}

h1,
p,
li {
  line-height: 1.5;
}

main a {
  color: dodgerBlue;
  text-underline-position: under;
}

main a:hover {
  text-decoration: none;
}

li {
  margin-top: 1em;
}

code {
  font-size: 0.875rem;
  overflow-wrap: break-word;
  background: whiteSmoke;
}

code.codeBlock {
  display: block;
  white-space: pre-wrap;
  line-height: 1.5;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 0;
}

code:not(.codeBlock) {
  padding: 2px 4px;
  border-radius: 3px;
}

div.result {
  width: fit-content;
  margin: 0 auto 2em;
}

main footer svg {
  transition: 0.3s ease-in-out;
}

main footer svg:hover {
  fill: dodgerBlue;
}

main footer button {
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
}

body > footer [href="/blog"]::before {
  content: "<";
  margin-right: 0.5rem;
}
