body {
  font-family: Arial;
  margin: 0;
}

body>* {
  padding: 1em;
}

body>header,
body>footer {
  background: black;
}

nav,
main,
body>footer div {
  max-width: 900px;
  margin: 0 auto;
}

nav,
main footer,
body>footer div,
address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  color: silver;
}

nav,
span,
address {
  font-style: normal;
  font-size: smaller;
}

nav a,
body>footer a {
  font: bold 0.875rem Verdana;
  color: inherit;
  text-decoration: none;
}

nav a:hover,
body>footer a:hover {
  filter: brightness(2);
}

nav a:first-child {
  margin-right: 1rem;
}

[href="/blog"] {
  margin-right: auto;
}

img,
svg {
  display: block;
}

main,
span {
  color: #333;
}

main header {
  text-align: center;
}

p {
  line-height: 1.5;
}

main a {
  color: dodgerBlue;
  text-underline-position: under;
}

main a:hover {
  text-decoration: none;
}

li,
main footer {
  margin-top: 1em;
}

code {
  overflow-wrap: break-word;
}

img[alt="Published folder"] {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

main footer button {
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
}

body>footer [href="/blog"]::before {
  content: "<";
  margin-right: 0.5rem;
}